<div class="card">
    <div class="card-body">
        <h5 class="card-title mb-0 pb-0">รายละเอียดเพิ่มเติม</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">คู้มือการใช้งาน.....</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">คู้มือการใช้งาน.....</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">คู้มือการใช้งาน.....</a>
            </li>
        </ul>
        <h5 class="card-title mb-0 pb-0">ติดต่อ</h5>
            <a class="nav-link" href="#">email : example@sci.tu.ac.th</a>
    </div>
</div>