<div class="row">
    <div class="col-12">
        <div class="card card-signin my-0">
            <div class="card-header bg-warning rounded-top">
                <h3 class="title-page text-secondary">บันทึกคำขออนุมัติไปนำเสนอผลงาน</h3>
                <input type="hidden" class="form-control" [(ngModel)]="r.request_type">
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5 offset-md-7">
                        <div class="form-group row">
                            <label class="col-4 col-form-label text-right">ส่วนราชการ</label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="ชื่อส่วนราชการ" [(ngModel)]="r.governmentA">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label text-right">เลขที่หนังสือ</label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="เลขที่หนังสือ" [(ngModel)]="r.bookNum">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label text-right">ลงวันที่</label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="ลงวันที่" bsDatepicker
                                    [bsConfig]="dpConfig" [(ngModel)]="r.date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-4 col-md-1 col-form-label">เรียน</label>
                            <div class="col col-sm-8 col-md-6">
                                <select class="form-control" [(ngModel)]="r.sendTo">
                                    <option>คณบดี คณะวิทยาศาสตร์และเทคโนโลยี (ผ่านหัวหน้าสาขาวิชา/หัวหน้างาน)</option>
                                    <option>คณบดี คณะวิทยาศาสตร์และเทคโนโลยี</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card card-signin my-0 mb-3">
                    <div class="card-header  rounded-top">
                        <h5 class="title-page text-secondary">รายละเอียดการไปเสนอผลงาน</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-md-2 col-form-label">สถานที่เสนอผลงาน</label>
                                    <div class="col-sm-8 col-md-10">
                                        <input type="text" class="form-control" placeholder="ชื่อสถานที่"
                                            [(ngModel)]="r.org_name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-md-2 col-form-label">ที่อยู่</label>
                                    <div class="col-sm-8 col-md-10">
                                        <input type="text" class="form-control" placeholder="ที่อยู่"
                                            [(ngModel)]="r.address">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-md-2 col-form-label">จังหวัด</label>
                                    <div class="col col-sm-8 col-md-4">
                                        <select class="form-control" [(ngModel)]="r.province">
                                            <option>----- กรุณาระบุจังหวัด -----</option>
                                            <option *ngFor="let pv of Province" value="{{pv.value}}">{{pv.display}}
                                            </option>
                                        </select>
                                    </div>
                                    <label class="col-sm-4 col-md-1 col-form-label">โทรศัพท์</label>
                                    <div class="col col-sm-8 col-md-5">
                                        <input type="text" class="form-control" placeholder="โทรศัพท์"
                                            [(ngModel)]="r.tel">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-md-2 col-form-label">ชื่อผลงาน</label>
                                    <div class="col col-sm-8 col-md-5">
                                        <input type="text" class="form-control" placeholder="ชื่อผลงาน"
                                            [(ngModel)]="r.topic">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card card-signin my-0">
                    <div class="card-header  rounded-top">
                        <h5 class="title-page text-secondary">กำหนดการณ์</h5>
                    </div>
                    <div class="card-body">
                        <!-- Form บันทึกกำหนดการณ์ -->
                        <div class="card card-signin my-0 mb-3" *ngIf="showScheduleForm">
                            <div class="card-header  rounded-top">
                                <h5 class="title-page text-secondary">บันทึกกำหนดการณ์</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-md-2 col-form-label">ผู้ไปเสนองาน</label>
                                            <div class="col-sm-6 col-md-8">
                                                <input type="text" class="form-control" placeholder="ชื่อ-สกุล">
                                            </div>
                                            <button type="submit" class="btn btn-primary">ค้นหา</button>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-md-2 col-form-label">ระหว่างวันที่</label>
                                            <div class="col col-sm-8 col-md-3">
                                                <input type="text" class="form-control" placeholder="วันที่"
                                                    bsDatepicker>
                                            </div>
                                            <label class="col-sm-4 col-md-1 col-form-label">ถึงวันที่</label>
                                            <div class="col col-sm-8 col-md-3">
                                                <input type="text" class="form-control" placeholder="วันที่"
                                                    bsDatepicker>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-md-2 col-form-label">รวมจำนวน</label>
                                            <div class="col-sm-8 col-md-3">
                                                <input type="text" class="form-control" placeholder="จำนวน">
                                            </div>
                                            <label class="col-sm-4 col-md-2 col-form-label">วัน</label>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-2 col-md-3 offset-md-10 offset-sm-10">
                                                <button type="submit" class="btn btn-primary"
                                                    (click)="saveScheduleForm()">
                                                    <i class="fa fa-floppy-o text-light" aria-hidden="true"></i> บันทึก
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- รายการกำหนดการณ์ -->
                        <div class="card card-signin my-0">
                            <div class="card-header  rounded-top">
                                <div class="form-group row">
                                    <div class="col">
                                        <h5 class="title-page text-secondary">รายการกำหนดการณ์</h5>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-warning btn-sm float-right"
                                            (click)="callAddNewRow()">
                                            <i class="fa fa-plus text-danger" aria-hidden="true"></i> เพิ่มกำหนดการ
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <ag-grid-angular style="width: 100%; height: 500px; font-size: medium;"
                                                class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs"
                                                [defaultColDef]="defaultColDef" (rowClicked)="onRowClicked($event)"
                                                (gridReady)="onGridReady($event)">
                                            </ag-grid-angular>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <button type="button" class="btn btn-primary col-md-2 offset-md-4"
                                    (click)="saveData()">บันทึกคำขออนุมัติ</button>
                                <button type="button"
                                    class="btn btn-secondary col-md-2 offset-md-1">ยกเลิกคำขออนุมัติ</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #template let-modal class="modal fade">
    <div class="modal-content">
        <div class="modal-body px-0 py-0">
            <schedule-form [scheduleItem]="scheduleItem" [modalRef]="modalRef" [openForm]="openForm"
                (sendBack)="onSendBack($event)"></schedule-form>
        </div>
    </div>
</ng-template>

<!-- <ng-template #template class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">

    <div class="modal-content">
        <div class="modal-body px-0 py-0">
            Form บันทึกกำหนดการณ์ 
            <div class="card card-signin my-0">
                <div class="card-header  rounded-top">
                    <h5 class="title-page text-secondary">บันทึกกำหนดการณ์</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-4 col-md-2 col-form-label">ผู้ไปเสนองาน</label>
                                <div class="col-sm-6 col-md-8">
                                    <input type="text" class="form-control" placeholder="ชื่อ-สกุล">
                                </div>
                                <button type="submit" class="btn btn-primary">ค้นหา</button>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-md-2 col-form-label">ระหว่างวันที่</label>
                                <div class="col col-sm-8 col-md-3">
                                    <input type="text" class="form-control" placeholder="วันที่" bsDatepicker>
                                </div>
                                <label class="col-sm-4 col-md-1 col-form-label">ถึงวันที่</label>
                                <div class="col col-sm-8 col-md-3">
                                    <input type="text" class="form-control" placeholder="วันที่" bsDatepicker>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-md-2 col-form-label">รวมจำนวน</label>
                                <div class="col-sm-8 col-md-3">
                                    <input type="text" class="form-control" placeholder="จำนวน">
                                </div>
                                <label class="col-sm-4 col-md-2 col-form-label">วัน</label>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 col-md-3 offset-md-10 offset-sm-10">
                                    <button type="submit" class="btn btn-primary" (click)="saveScheduleForm()">
                                        <i class="fa fa-floppy-o text-light" aria-hidden="true"></i> บันทึก
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template> -->