<div class="row">
    <div class="col-12">
        <div class="card card-signin my-0">
            <div class="card-header bg-warning rounded-top">
                <h3 class="title-page text-secondary">บันทึกคำขออนุมัติไปเป็นวิทยากร</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5 offset-md-7">
                        <div class="form-group row">
                            <label class="col-4 col-form-label text-right">ส่วนราชการ</label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="ชื่อส่วนราชการ">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label text-right">เลขที่หนังสือ</label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="เลขที่หนังสือ">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label text-right">ลงวันที่</label>
                            <div class="col-8">
                                <input type="text" class="form-control" placeholder="เลขที่หนังสือ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-sm-4 col-md-1 col-form-label">เรียน</label>
                            <div class="col col-sm-8 col-md-6">
                                <select class="form-control">
                                    <option>คณบดี คณะวิทยาศาสตร์และเทคโนโลยี (ผ่านหัวหน้าสาขาวิชา/หัวหน้างาน)</option>
                                    <option>คณบดี คณะวิทยาศาสตร์และเทคโนโลยี</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card card-signin my-0 mb-3">
                    <div class="card-header  rounded-top">
                        <h5 class="title-page text-secondary">รายละเอียดการเชิญไปเป็นวิทยากร</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-md-2 col-form-label">หน่วยงานผู้เชิญ</label>
                                    <div class="col-sm-8 col-md-10">
                                        <input type="text" class="form-control" placeholder="หน่วยงานผู้เชิญ">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-md-2 col-form-label">ที่อยู่</label>
                                    <div class="col-sm-8 col-md-10">
                                        <input type="text" class="form-control" placeholder="ที่อยู่">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-md-2 col-form-label">จังหวัด</label>
                                    <div class="col col-sm-8 col-md-4">
                                        <select class="form-control">
                                            <option>ปทุมธาณี</option>
                                            <option>กรุงเทพมหานครฯ</option>
                                            <option>อื่นๆ</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-4 col-md-1 col-form-label">โทรศัพท์</label>
                                    <div class="col col-sm-8 col-md-5">
                                        <input type="text" class="form-control" placeholder="โทรศัพท์">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-md-2 col-form-label">หัวเรื่องบรรยาย</label>
                                    <div class="col-sm-8 col-md-10">
                                        <input type="text" class="form-control" placeholder="หัวเรื่องบรรยาย">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-md-2 col-form-label">กลุ่มผู้เข้าฟัง</label>
                                    <div class="col col-sm-8 col-md-5">
                                        <select class="form-control">
                                            <option>นศ.ปริญญาตรี</option>
                                            <option>นศ.ปริญญาโท</option>
                                            <option>นศ.ปริญญาเอก</option>
                                            <option>บุคคลทั่วไป</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card card-signin my-0">
                    <div class="card-header  rounded-top">
                        <h5 class="title-page text-secondary">กำหนดการณ์</h5>
                    </div>
                    <div class="card-body">
                        <div class="card card-signin my-0 mb-3">
                            <div class="card-header  rounded-top">
                                <h5 class="title-page text-secondary">บันทึกกำหนดการณ์</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-md-2 col-form-label">ชื่อ-สกุลวิทยากร</label>
                                            <div class="col-sm-6 col-md-8">
                                                <input type="text" class="form-control" placeholder="ชื่อ-สกุล">
                                            </div>
                                            <button type="submit" class="btn btn-primary">ค้นหา</button>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-md-2 col-form-label">สถานที่บรรยาย</label>
                                            <div class="col col-sm-8 col-md-6">
                                                <input type="text" class="form-control" placeholder="สถานที่">
                                            </div>
                                            <label class="col-sm-4 col-md-1 col-form-label">จังหวัด</label>
                                            <div class="col col-sm-8 col-md-3">
                                                <select class="form-control">
                                                    <option>ปทุมธาณี</option>
                                                    <option>กรุงเทพมหานครฯ</option>
                                                    <option>อื่นๆ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-md-2 col-form-label">ระหว่างวันที่</label>
                                            <div class="col col-sm-8 col-md-3">
                                                <input type="text" class="form-control" placeholder="วันที่">
                                            </div>
                                            <label class="col-sm-4 col-md-1 col-form-label">ถึงวันที่</label>
                                            <div class="col col-sm-8 col-md-3">
                                                <input type="text" class="form-control" placeholder="วันที่">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-4 col-md-2 col-form-label">รวมจำนวน</label>
                                            <div class="col-sm-8 col-md-3">
                                                <input type="text" class="form-control" placeholder="จำนวน">
                                            </div>
                                            <label class="col-sm-4 col-md-2 col-form-label">วัน</label>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-2 col-md-3 offset-md-10 offset-sm-10">
                                                <button type="submit" class="btn btn-primary">+ เพิ่มกำหนดการณ์</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-signin my-0">
                            <div class="card-header  rounded-top">
                                <h5 class="title-page text-secondary">รายการกำหนดการณ์</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ชื่อ-สกุลวิทยากร</th>
                                                        <th scope="col">สถานที่</th>
                                                        <th scope="col">จังหวัด</th>
                                                        <th scope="col">ระหว่างวันที่</th>
                                                        <th scope="col">ถึงวันที่</th>
                                                        <th scope="col">จำนวนวัน</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">อ.ทดสอบ1</th>
                                                        <td>ม.ธรรมศาสตร์ ศูนย์รังสิต</td>
                                                        <td>ปทุมธาณี</td>
                                                        <td>2 กันยายน 2562</td>
                                                        <td>3 กันยายน 2562</td>
                                                        <td>1</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">อ.ทดสอบ2</th>
                                                        <td>ม.รังสิต</td>
                                                        <td>ปทุมธาณี</td>
                                                        <td>4 กันยายน 2562</td>
                                                        <td>6 กันยายน 2562</td>
                                                        <td>2</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">อ.ทดสอบ3</th>
                                                        <td>ม.ธรรมศาสตร์ ศูนย์รังสิต</td>
                                                        <td>ปทุมธาณี</td>
                                                        <td>2 กันยายน 2562</td>
                                                        <td>6 กันยายน 2562</td>
                                                        <td>5</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <button type="button"
                                    class="btn btn-primary col-md-2 offset-md-4">บันทึกคำขออนุมัติ</button>
                                <button type="button"
                                    class="btn btn-secondary col-md-2 offset-md-1">ยกเลิกคำขออนุมัติ</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>