<approval-nav></approval-nav>
<app-auth-content>
    <profile></profile>

    <div class="container mb-10">
        <h5>สถิติการขออนุมัติไปราชการในปีงบประมาณ ...</h5>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th class="type-name" scope="col">ประเภทการขออนุมัติ</th>
                    <th class="department-name" scope="col">สาขา/หน่วยงาน</th>
                    <th scope="col">จำนวนครั้ง</th>
                    <th scope="col">จำนวนวัน</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="type-name" scope="row">ไปนิเทศนักศึกษา</th>
                    <td class="department-name">สาขาที่1</td>
                    <td>10</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th class="type-name" scope="row">ไปอบรม</th>
                    <td class="department-name">สาขาที่1</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th class="type-name" scope="row">ไปเป็นวิทยากร</th>
                    <td class="department-name">สาขาที่1</td>
                    <td>1</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </div>

</app-auth-content>