<staff-layout>
    <div class="app_content mt-0 col-10 mx-auto">        
        <h5>สถิติการขออนุมัติไปราชการในปีงบประมาณ ...</h5>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th class="type-name" scope="col">ประเภทการขออนุมัติ</th>
                        <th scope="col">จำนวนครั้ง</th>
                        <th scope="col">จำนวนวัน</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="type-name" scope="row">ไปนิเทศนักศึกษา</th>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th class="type-name" scope="row">ไปอบรม</th>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th class="type-name" scope="row">ไปเป็นวิทยากร</th>
                        <td>1</td>
                        <td>3</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</staff-layout>