.profile{
    background-color: brown;
    width: 100%;
    color: white;
}
h5{
    margin-top: 2rem;
}

th{
    text-align: center;
}
td{
    text-align: center;
}

th.type-name{
   text-align: left;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}