<staff-layout>
    <div class="app_content mt-0 col-10 mx-auto">
        <h5>Request form works!</h5>
        <div class="container" style="padding-top: 1.5rem;">
            <div class="form"
                style="margin-bottom: 1rem; background-color: rgb(230, 235, 223); background-repeat: no-repeat; padding-left: 2rem; padding-right: 2rem;">
                <form class="rjsf">
                    <div class="form-group field field-object" style="color: rgb(66, 66, 66);">
                        <div>
                            <div class="form-group field field-object  row">
                                <div class="form-group field field-object  col-7 cell">
                                    <div class="form-group field field-string">
                                        <div class="invisible-control-label"></div>
                                        <div class="static-content-widget"><span
                                                style="font-size: 26pt;"><strong>บันทึกขออนุมัติไปราชการ</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group field field-object  col-5 cell">
                                    <div></div>
                                </div>
                            </div>
                            <div class="form-group field field-object  row">
                                <div class="form-group field field-object  col-12 cell">
                                    <div class="form-group field field-string">
                                        <div class="invisible-control-label"></div>
                                        <div class="separator-widget">
                                            <hr class="separator-inner">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group field field-object  hidden-xs cell">
                                    <div></div>
                                </div>
                            </div>
                            <div class="form-group field field-object  row">
                                <div class="form-group field field-object  col-6 cell">
                                    <div class="form-group field field-string">
                                        <div class="invisible-control-label"></div>
                                        <div class="static-content-widget"></div>
                                    </div>
                                    <div class="form-group field field-string"><label class="control-label"
                                            for="root_root-r3_root-r3c1_Department">สาขาวิชา/หน่วยงาน</label><span
                                            style="color: rgb(66, 66, 66);"> *</span><input class="form-control"
                                            id="root_root-r3_root-r3c1_Department" label="สาขาวิชา/หน่วยงาน" required=""
                                            type="text" value=""></div>
                                    <div class="form-group field field-string"><label class="control-label"
                                            for="root_root-r3_root-r3c1_วันที่ขออนุมัติ">วันที่ขออนุมัติ</label><input
                                            class="form-control" id="root_root-r3_root-r3c1_วันที่ขออนุมัติ"
                                            label="วันที่ขออนุมัติ" placeholder="วัน/เดือน/ปี" type="text" value="">
                                    </div>
                                    <div class="form-group field field-string"><label class="control-label"
                                            for="root_root-r3_root-r3c1_เรื่อง">เรื่อง</label><span
                                            style="color: rgb(66, 66, 66);"> *</span><select
                                            id="root_root-r3_root-r3c1_เรื่อง" class="form-control" required="">
                                            <option value=""></option>
                                            <option value="ไปนิเทศนักศึกษา">ไปนิเทศนักศึกษา</option>
                                            <option value="ไปศึกษาดูงาน">ไปศึกษาดูงาน</option>
                                            <option value="ไปเป็นวิทยากร">ไปเป็นวิทยากร</option>
                                        </select></div>
                                </div>
                                <div class="form-group field field-object  col-6 cell">
                                    <div></div>
                                </div>
                            </div>
                            <div class="form-group field field-object  row">
                                <div class="form-group field field-object  col-12 cell">
                                    <div class="form-group field field-string"><label class="control-label"
                                            for="root_root-r4_root-r4c1_To">เรียน</label><span
                                            style="color: rgb(66, 66, 66);"> *</span>
                                        <div class="field-radio-group" id="root_root-r4_root-r4c1_To">
                                            <div class="radio "><label><span><input type="radio"
                                                            name="0.5099525784653687" required=""
                                                            value="คณบดีคณะวิทยาศาสตร์และเทคโนโลยี"><span>คณบดีคณะวิทยาศาสตร์และเทคโนโลยี</span></span></label>
                                            </div>
                                            <div class="radio "><label><span><input type="radio"
                                                            name="0.5099525784653687" required=""
                                                            value="คณบดีคณะวิทยาศาสตร์และเทคโนโลยี (ผ่านหัวหน้าสาขาวิชา)"><span>คณบดีคณะวิทยาศาสตร์และเทคโนโลยี
                                                            (ผ่านหัวหน้าสาขาวิชา)</span></span></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group field field-object  hidden-xs cell">
                                    <div></div>
                                </div>
                            </div>
                            <div class="form-group field field-object  row">
                                <div class="form-group field field-object  col-12 cell">
                                    <div class="form-group field field-string"><label class="control-label"
                                            for="root_root-r5_root-r5c1_Details for approval">รายละเอียดการขออนุมัติ</label><span
                                            style="color: rgb(66, 66, 66);"> *</span><textarea
                                            id="root_root-r5_root-r5c1_Details for approval" class="form-control"
                                            required="" rows="5"></textarea></div>
                                </div>
                                <div class="form-group field field-object  hidden-xs cell">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div><button type="submit" class="btn btn-info" disabled="" style="display: none;">Submit</button>
                    <div style="padding-top: 1rem;">
                    </div>
                    <div class="submit-panel"><button type="button" class="btn btn-info" disabled="">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</staff-layout>